@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.container{
    max-width: 1320px;
}

.header{
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 35px;
    align-items: center;
}

.header nav{
    display: flex;
}
.header nav ul{
    list-style-type: none;
    padding-left: 20px;
}
.header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

/* section1 */

.section1{
    display: flex;
    margin: auto;
    align-items: center;
}
.section1 .msg{}
.section1 .msg h1{
    font-size: 45px;
}
.section1 .msg p{
    font-size: 20px;
}
.section1 .msg button{
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}
.section1 img{
    height: 600px;
}

/* section 2 */

.section2{
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 20px;
}
.section2 p{
    color: #fbb921;
    font-size: 22px;
}
.section2 h5{
    font-size: 22px;
}
.section3{
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 30px;
}
.section3 .part{
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 35px rgba(169, 169, 169, 0.301);
    padding: 10px;
    margin: 0px;
}
.section3 .part img{
    width: 100%;

}
.section3 .part h1{
    font-size: 30px;
    margin-bottom: 0;
}
.section3 .part p{
    text-align: center;
    margin-bottom: 0;
    }
.section3 .part h3{
    font-size: 30px;
    opacity: .5;
}
.section3 .part button{
    width: 150px;
    height: 60px;
    color: white;
    background-color: black;
    border-radius: 10px;
    font-size: 25px;
}

.section4 {
    text-align: center;
    margin: auto;
}

.section4 .text{
    align-items: center;
    font-size: 38px;
    margin-top: 150px;
    margin-bottom: 5px;
}
.section4 .line{
    width: 180px;
    height: 5px;
    display: block;
    background-image: linear-gradient(90deg, rgba(251, 185, 33, 1) 0%, rgba(251, 185, 33, 0.42025862068965514) 100%);
    margin: auto;
    margin-bottom: 80px;;
}


.three-flex{
    display: flex;
    margin: auto;
}

.section5{
    display: flex;
    align-items: center;
    margin: auto;
}
.one, .two, .three{
    width: 300px;
    height: 200px;
    box-shadow: 0px 0px 15px rgb(204, 204, 204);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 30px 15px;
    padding: 5px;
}

.one h1, .two h1, .three h1{
    margin: 0px;
    font-size: 23px;
    padding-top: 10px;
    font-weight: 600;
}

.section6 img{
    max-width: 100%;
}


.lastcontent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    margin: auto;
    margin-top: 100px;
}

footer{
    background-color: #FDE09D;
    margin:0;
    padding: 0;

}